<!DOCTYPE HTML>
<html>

<head>
  <title>Kate West-Walker</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1>Kate West-Walker</h1>
          <h2>Software Engineering student, Junior Dev.</h2>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="selected"><a href="../home">Home.</a></li>
          <li><a href="../resume">Resume.</a></li>
          <li><a href="#">Cool stuff.</a></li>
          <li><a href="contact.html">Contact.</a></li>
        </ul>
      </nav>
    </header>
      <div class="content">
        <h3>O hey.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in massa sem, sollicitudin rutrum justo. Morbi eget nibh erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce pretium mi sed. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in massa sem, sollicitudin rutrum justo. Morbi eget nibh erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce pretium mi cubilia Curae; Fusce pretium mi sed. </p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
</body>
</html>
